extends layout

block content
  h1.text-accent Zeltlager-Infos
  h3 Wer ist der Veranstalter?
  p Die Freie evangelisch-lutherische Brüdergemeinde Cloppenburg e.V.
  h3 Wann findet das Zeltlager statt?
  p 18. - 22. Juli 2024
  h3 Wo findet das Zeltlager statt?
  p
    | Kolping Freizeit Zentrum
    br
    | Falkenberger Straße
    br
    | 49681 Garrel
  h3 Wer kann sich für das Zeltlager anmelden?
  p
    | Kinder von 8 - 12 Jahren
