doctype html
html(data-theme="business" lang="de")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="Anmeldung Kinderzeltlager FELB Cloppenburg" name="description")
    meta(content="Zeltlager FELB Cloppenburg" property="og:title")
    meta(content="Anmeldeseite für das Zeltlager der FELB Cloppenburg" property="og:description")
    meta(content="https://kinderzeltlager.felb-cloppenburg.de/images/ogImage.png" property="og:image")
    meta(content="https://kinderzeltlager.felb-cloppenburg.de" property="og:url")
    meta(content="Zeltlager FELB Cloppenburg" property="og:site_name")
    title= title
    link(href="/favicon.svg" type="image/svg+xml" rel="icon")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/htmx.min.js")
  body.overflow-x-hidden.bg-base-100
    .container.mx-auto.px-5.flex.flex-col.min-h-screen.prose
      block head
        a.shrink-0.h-14.mt-5.flex.items-center(href="/")
          .border-2.w-full
          img.h-full.px-2(src="/images/square.png")
          .border-2.w-full
      .grow.my-5
        block content
      .text-center.my-5.shrink-0
        a.underline(href="/impressum") Impressum
    
