h3.text-success Geschafft!
p In Kürze sollte ein Nachweis Ihrer Anmeldung bei Ihnen im E-Mail-Postfach landen.
p Vielen Dank für die Anmeldung!
p
  | Falls Sie keine E-Mail erhalten oder noch Fragen haben,
  |
  | schreiben Sie uns:
  br
  b info@felb-cloppenburg.de

a.btn.btn-secondary.w-full.text-xl.my-5(href="/") Startseite
